<html>
    <head>
        <title>Podatek</title>
    </head>
    <body>
        <h1 style="color: red">Kalkulator podatku</h1>
        <h3>Cena: <span style="color: blue">{{ amount }}</span></h3>
        <h3>Podatek: <span style="color: blue">{{ tax }}</span></h3>
        <h2>Obliczony podatek: <span style="color: red">{{ amountTax }}</span></h2>
        <h2>Kwota bez podatku: <span style="color: green">{{ amountWithoutTax }}</span></h2>
    </body>
</html>